node_modules/
.env
npm-debug.log*
*.mov
*.MOV
*.mp4
!aayna_cinematic_15s.mp4
!videos/bangla-vasha.mp4
!videos/black-ethnic.mp4
!videos/ogochalo-shohor.mp4
!videos/shesh-sur.mp4
*.heic
videos/
!videos/
!videos/bangla-vasha.mov
!videos/black-ethnic.mov
!videos/ogochalo-shohor.mov
!videos/shesh-sur.mov
